* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Noto Sans KR", sans-serif;
	user-select: none;
	background: #000;
}

main {
	width: 900px;
	height: 700px;
	border-radius: 30px;
	overflow: hidden;
	background: url(../img/background.png) no-repeat center/cover;
	position: relative;
}

.gameInfo {
	height: 50%;
	text-align: center;
	padding-top: 70px;
}

.gameInfo_button {
	width: 80px;
	height: 55px;
	background: #ff9f45;
	border-radius: 15px;
	font-size: 20px;
	color: #fff;
	transition: 0.4s ease;
	margin-bottom: 20px;
}

.gameInfo_button:hover {
	background: #f76e11;
	transform: scale(1.1);
}

.timer {
	width: 150px;
	height: 60px;
	background: #fff;
	border-radius: 15px;
	border: 2px solid #555;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 38px;
	line-height: 56px;
	visibility: hidden;
}

.score {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ffbc80;
	border: 5px solid #f76e11;
	margin: 0 auto;
	font-size: 34px;
	font-weight: bold;
	line-height: 70px;
	color: #fff;
	visibility: hidden;
}

.gameField {
	width: 100%;
	height: 50%;
	position: relative;
}

.gameField img {
	cursor: pointer;
	position: absolute;
	transition: 0.1s ease-in;
}

.gameField img:hover {
	transform: scale(1.1);
}

.modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal__contents {
	width: 400px;
	height: 250px;
	background: #ffbc80;
	border-radius: 15px;
	padding: 30px;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 2px 2px 20px rgba(247, 110, 17, 0.3);
}

.modal__title {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #fc4f4f;
	display: none;
}

.modal__text {
	font-size: 28px;
	color: #fff;
}

.modal__btnRefresh {
	font-size: 30px;
	color: #fc4f4f;
	transition: 0.4s ease;
}

.modal__btnRefresh:hover {
	transform: scale(1.1);
}
